{% extends 'base.html' %}

{% load account %}
{% load i18n %}
        
      {% block title %} Password Reset Done - {% endblock title %}

{% block content %}


{% include 'partials/other_navbar.html' %}
{% include 'partials/alerts.html' %}
 

      <br> <br>

    <div class="container-fluid">

	<h3 style="color:#2E673D" class="font-weight-bolder text-center mx-auto">{% trans "Password Reset Email Sent." %}</h3>
    
    {% if user.is_authenticated %}
    	{% include "account/snippets/already_logged_in.html" %}
    	{% block content_extra %} {% endblock %}
   	{% else %}
   		 <p class="forgot_password_info w-75 mx-auto text-center">We have sent you an e-mail. Please contact us if you do not receive it within a few minutes. <br> You will be redirected to <a href="/accounts/login">Sign In</a> page in 5 seconds.</p>
   		 <script>
   		 	setTimeout("location.href = '{% url 'account_login' %}';",8000);
		</script>
   	{% endif %}
   </div>
{% endblock %}